<%= simple_form_for @maintenance do |form| %>
  <%= form.error_notification %>
  <%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>
  <div class="form-inputs">
    <%= form.input :date %>
    <%= form.input :name %>
    <%= form.input :maintenance_class, collection: Maintenance.maintenance_classes  %>
    <%= form.association :city  %>
    <%= form.association :motor %>
    <%= form.association :user, label_method: :email %>
  </div>  
  <div class="form-actions">
    <%= form.button :submit, class: 'btn btn-outline-primary ' %>  
  </div>  
<% end %>
