<div id="<%= dom_id maintenance %>" class="border border-secondary border-1 rounded p-3 my-1">
  <p>
    <strong>Date:</strong>
    <%= maintenance.date %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= maintenance.name %>
  </p>

  <p>
    <strong>Maintenance Class:</strong>
    <%= maintenance.maintenance_class %>
  </p>

  <p>
    <strong>Motor:</strong>
    <%= maintenance.motor.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= maintenance.user.email %>
  </p>

  <p>
    <strong>City:</strong>
    <%= maintenance.city.name %>
  </p>
  <%= image_tag "motor0#{rand(1..9)}", alt: "Imagen del motor" %>
</div>
