<div id="<%= dom_id maintenance %>">
  <p>
    <strong>Date:</strong>
    <%= maintenance.date %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= maintenance.name %>
  </p>

  <p>
    <strong>Maintenance Class:</strong>
    <%= maintenance.maintenance_class %>
  </p>

  <p>
    <strong>Motor:</strong>
    <%= maintenance.motor_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= maintenance.user_id %>
  </p>

  <p>
    <strong>City:</strong>
    <%= maintenance.city_id %>
  </p>

</div>
