<div class="col">
  <div id="<%= dom_id motor %>" class='card' style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><strong>Name:</strong><%= motor.name %></h5>
      <p class="card-text"><strong>Description:</strong><%= motor.description %></p>
      <p class="card-text"><strong>Motor Class:</strong><%= motor.motor_class %></p>
      <%= link_to "Show", motor, class: 'btn btn-outline-primary' %>  
    </div>
  </div>
</div>
